.team-section {
  background-color: #F4F4FD;
}
.team-list {
  list-style: none;
}
.team-item {
  background-color: #FFFFFF;
}
/* Текст внутри контента центрируется */
.team-card-content {
  text-align: center;        
}
/* Имя сотрудника (типографика и цвет) */
.team-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
/* Должность (типографика и цвет) */
.team-role {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
